{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Students</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FIO</th>
                <th>DateOfBirth</th>
                <th>Nationality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.FIO }}</td>
                <td>{{ student.DateOfBirth }}</td>
                <td>{{ student.Nationality }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
