{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Teachers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FIO</th>
                <th>Experience</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.FIO }}</td>
                <td>{{ teacher.Experience }}</td>
                <td>
                    <a href="{{ path('app_teacher_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('app_teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teacher_new') }}">Create new</a>
{% endblock %}
