{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <h1>Lesson</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson.id }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ lesson.StartTime }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td>{{ lesson.EndTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lesson_index') }}">back to list</a>

    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
